body {
    position: relative;
    margin: 0;
}

#map {
    width: 100vw;
    height: 100vh;
}

/* Для скрытия логотипа Яндекса на карте */
#map::before,
#map::after {
    content: '';
    position: absolute;
    z-index: 1000;
    bottom: 0;
    height: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px #fff;
}

#map::before {
    left: 0;
    width: 220px;
}

#map::after {
    right: 0;
    width: 220px;
}

.pin {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    color: #333;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}

.pin::before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 100%;
    display: block;
    width: 65px;
    height: 100px;
    background-image: url('./img/tower-off.png');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: contain;
}

.pin.active::before {
    background-image: url('./img/tower-on_.gif');
}

.ded {
    width: 68px;
    height: 83px;
    margin-left: -34px;
    margin-top: -77px;
    background-image: url('./img/DMoroz.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ded-se,
.ded-e,
.ded-ne,
.ded-n {
    background-image: url('./img/DMoroz_forward.gif');
}

.ded-nw,
.ded-w,
.ded-sw,
.ded-s {
    background-image: url('./img/DMoroz_backward.gif');
}

.ded-jump {
    height: 125px;
    margin-top: -120px;
    background-image: url('./img/DMoroz_jumping-infinity.gif');
}