body {
  position: relative;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1;
  text-align: center;
  font-weight: 700;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  letter-spacing: 0.5px;
  background-color: #edf2e6;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: initial;
  background-image: url('./img/rtrs-logo.png');
  background-repeat: no-repeat;
  background-position: 50px 30px;
  background-size: 15vw;
}

.error::after,
.loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.7) no-repeat center;
  background-size: 200px 200px;
}

.loading::after {
  background-image:  url('./img/Spinner-1s-200px.svg');
}

.error::after {
  background-image:  url('./img/error-triangle.svg');
}

/* Для скрытия логотипа Яндекса на карте */

#map::before,
#map::after {
  content: '';
  position: absolute;
  z-index: 1000;
  bottom: 0;
  height: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px 5px #fff;
}

#map::before {
  left: 0;
  width: 220px;
}

#map::after {
  right: 0;
  width: 220px;
}

.pin {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  color: #333333;
  text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff;
}

.pin::before {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: 100%;
  display: block;
  /* width: 60px; */
  /* height: 80px; */
  width: 3.5vw;
  height: 7.5vh;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
}

.pin-vn::before {
  background-image: url('./img/trees/tree.svg');
}

.pin-pr::before {
  background-image: url('./img/trees/tree7.svg');
}

.pin-br::before {
  background-image: url('./img/trees/tree8.svg');
}

.pin-zl::before {
  background-image: url('./img/trees/tree3.svg');
}

.pin-main {
  color: #ffffff;
  font-size: 1.2em;
  text-shadow: 0 0 7px #000000, 0 0 7px #000000, 0 0 7px #000000;
}

.pin-main::before {
  width: 5vw;
  height: 9vh;
}

@media screen and (max-width: 800px) {
  .pin {
    font-size: 8px;
  }
}

@media screen and (max-width: 600px) {
  .pin {
    font-size: 0;
  }
}

.pin.active::before {
  background-image: url('./img/antenna-green.svg');
  background-size: contain;
}

/*.pin-vn.active::before {
  background-image: url('./img/antenna-all-colors.svg#vn');
  background-size: cover;
}

.pin-pr.active::before {
  background-image: url('./img/antenna-all-colors.svg#pr');
  background-size: cover;
}

.pin-br.active::before {
  background-image: url('./img/antenna-all-colors.svg#br');
  background-size: cover;
}

.pin-zl.active::before {
  background-image: url('./img/antenna-all-colors.svg#zl');
  background-size: cover;
}*/

.ded {
  width: 68px;
  height: 83px;
  margin-left: -35px;
  margin-top: -75px;
  background-image: url('./img/DMoroz.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ded-big {
  position: absolute;
  /* margin-top: -95px; */
  transform: translateY(-100%);
  transform-origin: center bottom;
}

.ded-in-jump {
  background-image: url('./img/DMoroz-in-jump.png');
}

/* .ded-parasuite {
  position: absolute;
  margin-top: -95px;
  transform: translateY(-100%) scale(2);
  transform-origin: center bottom;
}

.ded-parasuite::before {
  content: '';
  position: absolute;
  top: -67px;
  left: -42px;
  width: 110px;
  height: 150px;
  background-image: url('./img/DMoroz.png'), url('./img/parasuite_.png');
  background-repeat: no-repeat;
  background-position: right bottom, left top;
  background-size: 68px, 100px;
} */

.ded-n,
.ded-se,
.ded-e,
.ded-ne {
  background-image: url('./img/DMoroz_forward.gif');
}

.ded-s,
.ded-nw,
.ded-w,
.ded-sw {
  background-image: url('./img/DMoroz_backward.gif');
}

.ded-jump {
  height: 125px;
  margin-top: -120px;
  background-image: url('./img/DMoroz_jumping-infinity.gif');
}

.deer {
  position: absolute;
  /* right: 100vw;
  top: 110vh; */
  visibility: hidden;
}

.deer::after {
  content: '';
  position: absolute;
  top: -138px;
  left: -275px;
  width: 401px;
  height: 191px;
  background-image: url('./img/deer-with-sleigh.gif');
}

.deer-stay::after {
  background-image: url('./img/deer-with-sleigh-stay.png');
}

.sign {
  position: absolute;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translate(-50%, -100%) scale(0.7)
}

.sign-start {
  top: calc(100% + 15px);
  right: 7.8vw;
}

.sign-finish {
  top: 58vh;
  left: 3vw;
}

.sign-shield {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 5px;
  padding: 5px 10px;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #000, inset 0 0 0 2px #000;
}

.sign-leg {
  margin-top: -5px;
  width: 10px;
  height: 75px;
  background-color: #fff;
  background-image: linear-gradient(to right, #ccc 0%, #aaa 50%, #555 100%);
  border-radius: 50% / 3px;
}