body {
  position: relative;
  margin: 0;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  background-color: #edf2e6;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: initial;
  background-image: url(31f32477856865ca9cec12aa76095c2c.png);
  background-repeat: no-repeat;
  background-position: 50px 30px;
  background-size: 15vw;
}

/* Для скрытия логотипа Яндекса на карте */

#map::before,
#map::after {
  content: '';
  position: absolute;
  z-index: 1000;
  bottom: 0;
  height: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px 5px #fff;
}

#map::before {
  left: 0;
  width: 220px;
}

#map::after {
  right: 0;
  width: 220px;
}

.pin {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  color: #333333;
  text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff;
}

.pin::before {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: 100%;
  display: block;
  /* width: 60px; */
  /* height: 80px; */
  width: 3.5vw;
  height: 7.5vh;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: contain;
}

.pin-vn::before {
  background-image: url(48d337806d2795e89acca3e4d1ccb5b7.svg);
}

.pin-pr::before {
  background-image: url(224906488d7f61ce594a32fbdf2baac2.svg);
}

.pin-br::before {
  background-image: url(757b3772a4cfcf0744ff878546386818.svg);
}

.pin-zl::before {
  background-image: url(9a7ee605a38034b8af14a69bc608bab7.svg);
}

.pin-main {
  color: #ffffff;
  font-size: 1.2em;
  text-shadow: 0 0 7px #000000, 0 0 7px #000000, 0 0 7px #000000;
}

.pin-main::before {
  width: 5vw;
  height: 9vh;
}

@media screen and (max-width: 800px) {
  .pin {
    font-size: 8px;
  }
}

@media screen and (max-width: 600px) {
  .pin {
    font-size: 0;
  }
}

.pin.active::before {
  background-size: cover;
}

.pin-vn.active::before {
  background-image: url(0a08f9c8c3c3033abcc77da99f423d78.svg#vn);
}

.pin-pr.active::before {
  background-image: url(0a08f9c8c3c3033abcc77da99f423d78.svg#pr);
}

.pin-br.active::before {
  background-image: url(0a08f9c8c3c3033abcc77da99f423d78.svg#br);
}

.pin-zl.active::before {
  background-image: url(0a08f9c8c3c3033abcc77da99f423d78.svg#zl);
}

.ded {
  width: 68px;
  height: 83px;
  margin-left: -35px;
  margin-top: -75px;
  background-image: url(757b6a404c4b0b8e253acca8e0d97e3c.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ded-big {
  position: absolute;
  /* margin-top: -95px; */
  transform: translateY(-100%);
  transform-origin: center bottom;
}

.ded-in-jump {
  background-image: url(da2df138e118bfe87b2785e9c7ce635e.png);
}

/* .ded-parasuite {
  position: absolute;
  margin-top: -95px;
  transform: translateY(-100%) scale(2);
  transform-origin: center bottom;
}

.ded-parasuite::before {
  content: '';
  position: absolute;
  top: -67px;
  left: -42px;
  width: 110px;
  height: 150px;
  background-image: url('./img/DMoroz.png'), url('./img/parasuite_.png');
  background-repeat: no-repeat;
  background-position: right bottom, left top;
  background-size: 68px, 100px;
} */

.ded-n,
.ded-se,
.ded-e,
.ded-ne {
  background-image: url(2716f6b483bbfcf848913dec2d85c5c4.gif);
}

.ded-s,
.ded-nw,
.ded-w,
.ded-sw {
  background-image: url(9834b83a0fff60538776137862ee48ef.gif);
}

.ded-jump {
  height: 125px;
  margin-top: -120px;
  background-image: url(2f8e780f7915ba7fe22b7543122b5e47.gif);
}

.deer {
  position: absolute;
  /* right: 100vw;
  top: 110vh; */
  visibility: hidden;
}

.deer::after {
  content: '';
  position: absolute;
  top: -138px;
  left: -275px;
  width: 401px;
  height: 191px;
  background-image: url(21ef73cb1657d0c33bc18c2b8e6f6fc7.gif);
}

.deer-stay::after {
  background-image: url(4697702401033df79c2097d8f161a2e4.png);
}

.sign {
  position: absolute;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translate(-50%, -100%) scale(0.7)
}

.sign-start {
  top: calc(100% + 15px);
  right: 7.8vw;
}

.sign-finish {
  top: 58vh;
  left: 3vw;
}

.sign-shield {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 5px;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #000, inset 0 0 0 2px #000;
}

.sign-leg {
  margin-top: -5px;
  width: 10px;
  height: 75px;
  background-color: #fff;
  background-image: linear-gradient(to right, #ccc 0%, #aaa 50%, #555 100%);
  border-radius: 50% / 3px;
}

/*# sourceMappingURL=main.css.map*/