body {
    position: relative;
    margin: 0;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #edf2e6;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: initial;
    background-image: url(31f32477856865ca9cec12aa76095c2c.png);
    background-repeat: no-repeat;
    background-position: 50px 30px;
    background-size: 17vw;
}

.point {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    left: -10px;
    top: -10px;
    border-radius: 50%;
    border: 2px solid;
    box-shadow: 0 0 0 2px #fff;
}

.point::after {
    content: '';
    border: 2px solid;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #fff;
}

/* Для скрытия логотипа Яндекса на карте */
#map::before,
#map::after {
    content: '';
    position: absolute;
    z-index: 1000;
    bottom: 0;
    height: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px #fff;
}

#map::before {
    left: 0;
    width: 220px;
}

#map::after {
    right: 0;
    width: 220px;
}

.pin {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    color: #333333;
    text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 5px #ffffff;
}

.pin::before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: 100%;
    display: block;
    /* width: 60px; */
    /* height: 80px; */
    width: 3.5vw;
    height: 7.5vh;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: contain;
}

.pin-vn::before {
    background-image: url(48d337806d2795e89acca3e4d1ccb5b7.svg);
}

.pin-pr::before {
    background-image: url(224906488d7f61ce594a32fbdf2baac2.svg);
}

.pin-br::before {
    background-image: url(757b3772a4cfcf0744ff878546386818.svg);
}

.pin-zl::before {
    background-image: url(9a7ee605a38034b8af14a69bc608bab7.svg);
}

.pin-main {
    color: #ffffff;
    font-size: 1.2em;
    text-shadow: 0 0 7px #000000, 0 0 7px #000000, 0 0 7px #000000;
}

.pin-main::before {
    width: 5vw;
    height: 9vh;
}

@media screen and (max-width: 800px) {
    .pin {
        font-size: 8px;
    }
}

@media screen and (max-width: 600px) {
    .pin {
        font-size: 0;
    }
}

.pin.active::before {
    background-size: cover;
}

.pin-vn.active::before {
    background-image: url(73551994350e7e7ba9bfc4fefab4a397.svg#vn);
}

.pin-pr.active::before {
    background-image: url(73551994350e7e7ba9bfc4fefab4a397.svg#pr);
}

.pin-br.active::before {
    background-image: url(73551994350e7e7ba9bfc4fefab4a397.svg#br);
}

.pin-zl.active::before {
    background-image: url(73551994350e7e7ba9bfc4fefab4a397.svg#zl);
}

.ded {
    width: 68px;
    height: 83px;
    margin-left: -35px;
    margin-top: -75px;
    background-image: url(3b7dbdbecb5125d7dd76ae2ede672795.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ded-big {
    position: absolute;
    margin-top: -95px;
    transform: translateY(-100%) scale(2);
    transform-origin: center bottom;
}

.ded-big::before {
    content: '';
    position: absolute;
    top: -67px;
    left: -42px;
    width: 110px;
    height: 150px;
    background-image: url(3b7dbdbecb5125d7dd76ae2ede672795.gif), url(2803f66c4f89c3fdfe0b3f75ccb08a10.png);
    background-repeat: no-repeat;
    background-position: right bottom, left top;
    background-size: 68px, 100px;
}

.ded-n,
.ded-se,
.ded-e,
.ded-ne {
    background-image: url(2716f6b483bbfcf848913dec2d85c5c4.gif);
}

.ded-s,
.ded-nw,
.ded-w,
.ded-sw {
    background-image: url(9834b83a0fff60538776137862ee48ef.gif);
}

.ded-jump {
    height: 125px;
    margin-top: -120px;
    background-image: url(2f8e780f7915ba7fe22b7543122b5e47.gif);
}

.ded-leaving {
    position: absolute;
    margin-top: -95px;
    transform-origin: center bottom;
}

.deer {
    position: absolute;
    border: 1px solid;
    visibility: hidden;
}

.deer::after {
    content: '';
    position: absolute;
    top: -156px;
    left: -275px;
    width: 401px;
    height: 191px;
    background-image: url(21ef73cb1657d0c33bc18c2b8e6f6fc7.gif);
}

.deer-stay::after {
    background-image: url(4697702401033df79c2097d8f161a2e4.png);
}

/*# sourceMappingURL=main.css.map*/